{{#each this}}
<div class="card">
    <div class="card-title">
        <h1 class="card-name">{{name}}</h1>
    </div>
    <div class="wrapp-card">
        <div class="card-body">
            <p class="card-text">Capital: <span class="item-text">{{capital}}</span></p>
            <p class="card-text">Population: <span class="item-text">{{population}}</span></p>
            <p class="card-text">Languages:</p>
            <ul class="list-group">
                {{#each languages}}
                <li class="list-item">{{name}}</li>
                {{/each}}
            </ul>
        </div>
        <div class="card-image">
            <img src="{{flag}}" alt="{{name}}" width="580px" height="440px">
        </div>
    </div>
</div>
{{/each}}